.chuamuiten{
	position: relative;
}
.arrow-up {
	position: absolute;
  width: 0; 
  height: 0; 
  top:8px;
  left:-23px;
  
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-bottom: 10px solid #2ECC71;
}

.arrow-down {
	position: absolute;
  width: 0; 
  height: 0; 
  top:10px;
  left:-25px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid #f00;
}